.sharedbookitem-container{
  background-color: rgba(248,240,214,1);
  margin: 15px 15px 15px 15px;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 0px 30px rgba(94,96,94,1);
}

  .sharedbookitem-container:hover {
    box-shadow: 0px 0px 10px rgba(248,240,214,1);
    position: relative;
  }

.sharedbookitem-thumbnail{
  opacity: 1;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 10px;
}

  .sharedbookitem-thumbnail img {
    position: relative;
    max-width: 7vw;
    min-width: 5vw;
    box-shadow: 0px 0px 30px rgba(94,96,94,1);
  }

.sharedbookitem-info {
  position: relative;
  top: -10px;
}

  .sharedbookitem-info h3 {
    font-size: 3vh;
    font-weight: bold;
  }

  .sharedbookitem-info h4 {
    font-size: 2vh;
  }

  .sharedbookitem-info h5 {
    font-size: 1.5vh;
  }

.sharedbookitem-footer-line {
  margin-bottom: 5px;
  position: sticky;
  border-color: solid 1px rgba(94,96,94,1);
}

/*These styles below are for the update-book button.*/
.sharedbookitem-update-btn {
  color: white;
  background-color: rgba(0,103,109,0.7);
  border: 2px solid rgba(0,103,109,0.7);
  position: relative;
  border-width: 0px;
  float: right;
}

/*This allows me to kill the Bootstrap blue after clicking the button. These button element states are surprisingly not mutually exclusive.*/
.sharedbookitem-update-btn:hover,
.sharedbookitem-update-btn:active:focus,
.sharedbookitem-update-btn:focus,
.sharedbookitem-update-btn:active {
  color: rgba(0,103,109,0.7);
  background-color: rgba(254,239,154,1);
  border: 2px solid rgba(0,103,109,0.7);
}

.sharedbookitem-update-btn:active:hover {
  color: rgba(110,107,102,1);
  background-color: rgba(254,239,154,1);
  border: 2px solid rgba(254,239,154,1);
}
/*These styles above are for the update-book button.*/

.sharedbookitem-reserved-msg {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: #329999;
  margin-top: 11px;
}

.sharedbookitem-not-reserved-msg {
  font-style: italic;
}
