.book-container{
  background-color: rgba(248,240,214,1);
  margin: 15px 15px 15px 15px;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 0px 30px rgba(94,96,94,1);
}

  .book-container:hover {
    box-shadow: 0px 0px 10px rgba(248,240,214,1);
    position: relative;
  }

.book-thumbnail{
  opacity: 0.70;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

  .book-thumbnail img {
    width: 100%;
    box-shadow: 0px 0px 30px rgba(94,96,94,1);
  }

.book-footer-line {
  margin-bottom: 5px;
  position: sticky;
  border-color: solid 1px rgba(94,96,94,1);
}

.book-reserve-btn {
  border-width: 0px;
  float: right;
}
